{% load navigate %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>牛逼 - {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="verify-v1" content="NneIN/MP9K2CgqHooCi8O0nahMrMU44LnP3Y+s7hB2Y=" />
        {% block meta %}{% endblock %}
        <link rel="alternate" type="application/rss+xml" title="最新文章" href="/feeds/latest/" />
        <link rel="alternate" type="application/rss+xml" title="FeedBurner" href="http://feeds.feedburner.com/niubi" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/static/images/animated_favicon.gif" type="image/gif" />
        <!--<link rel="stylesheet" type="text/css" href="/static/css/main.css" />-->
	<link rel="stylesheet" type="text/css" href="/static/css/core/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/navigation/nav_shinybuttons.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/screen/basemod_shinybuttons.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/screen/content.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/screen/shinybuttons/lime.css" title="Lime" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/black.css" title="Black" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/silver.css" title="Silver" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/blue.css" title="Blue" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/orange.css" title="Orange" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/red.css" title="Red" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/purple.css" title="Purple" />
        <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="/static/css/patches/patch_my_layout.css" />       
        <![endif]-->       
        {% block css %}{% endblock %}       
    </head>
    <body class="yui-skin-sam">
        <div id="page_margins">
            <div id="border-top">
                <div id="edge-tl"></div>
                <div id="edge-tr"></div>
            </div>
            <div id="page">
                <div id="header">
                    <div id="logo">
                        <a href="/">
                            <b>NiuBi.de</b>
                        <!--<img src="/static/images/logos/logo_blog.gif" style="padding-left:10px; border: solid 0px;"/>-->
                        </a>
                    </div>
                    <div id="topnav">
                        <!-- start: skip link navigation -->
                        <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
                        <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
                        {% navigator %}|
                        <a class="contact icon" href="mailto:admin@niubi.de">联系</a>
                        <!-- end: skip link navigation -->                       
                    </div>
                    <div id="teaser">"NB是一种习惯，更是一种境界"</div>
                </div>
                <div id="nav">
                    <!-- skiplink anchor: navigation -->
                    <a id="navigation" name="navigation"></a>
                    <div id="nav_main">
                    <!-- main navigation: #nav_main -->
                        <ul id="nav_ul">
                          <li onclick="setCurrent(this)" class="current"><a href="/">首页</a></li>
                          <li onclick="setCurrent(this)"><a href="#">日志</a></li>
                          <li onclick="setCurrent(this)"><a href="#">影像</a></li>
                          <li onclick="setCurrent(this);setContent('col3_content','/download/');"><a href="#">下载</a></li>
                          <li onclick="setCurrent(this);setContent('col3_content','/about/');"><a href="#">关于</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div id="teaser">
                    NB是一种习惯，更是一种境界
                </div>-->
                <div id="main">
                    <div id="col1">
                        <div id="col1_content" class="clearfix">
                            <div id="switches">
                                <ul>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Black'); return false;" title="Black"><img src="/static/images/icons/22x21/black.jpg" alt="Black" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Silver'); return false;" title="Silver"><img src="/static/images/icons/22x21/silver.jpg" alt="Silver" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Lime'); return false;" title="Lime" class="current"><img src="/static/images/icons/22x21/lime.bmp" alt="Lime" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Orange'); return false;" title="Orange"><img src="/static/images/icons/22x21/orange.jpg" alt="Orange" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Blue'); return false;" title="Blue"><img src="/static/images/icons/22x21/blue.jpg" alt="Blue" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Red'); return false;" title="Red"><img src="/static/images/icons/22x21/red.jpg" alt="Red" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Purple'); return false;" title="Purple"><img src="/static/images/icons/22x21/purple.bmp" alt="Purple" /></li>
                                </ul>
                            </div>
                            <!-- SiteSearch Google -->
                            <div id="search_block">                              
                                <form name="search" method="get" action="/search/">
                                    <input type="text" name="q" id="q" maxlength="255" value="搜索关键字" onfocus="$('#q').val('')" />
                                    <input type="hidden" name="ie" value="utf-8" />
                                    <input type="hidden" name="oe" value="utf-8" />
                                    <input type="hidden" name="hl" value="zh-CN" />
                                    <input type="submit" name="btnL" id="btnL" value="本地" />
                                    <input type="submit" name="btnG" id="btnG" value="Google" onclick="search.action='http://www.google.com/search';" />
                                    <input type="hidden" name="domains" value="niubi.de" />
                                    <input type="hidden" name="sitesearch" value="niubi.de" />
                                </form>                                
                            </div>
                            <!-- SiteSearch Google -->
                            <div class="block">
                                <p style="border-bottom: solid #ddd 1px; padding-bottom: 10px; text-align:center;">
                                    <b>类别</b>                          
                                </p>
                                <ul class="category">
                                {% for category in request.categories %}
                                    <li class="category">
                                        <a class="category" href="/category/{{ category.key.id }}/">{{ category.name }} ({{ category.post_count }})</a>
                                    </li>
                                {% endfor %}
                                </ul>
                            </div>
                            <div class="block">                            
                                <p style="border-bottom: solid #ddd 1px; padding-bottom: 10px; text-align:center;">
                                    <b>标签</b>                          
                                </p>
                                <p class="tag">
                                {% for tag in request.tags %}
                                    <a class="tag" href="/tag/{{ tag.name }}/">{{ tag.name }} ({{ tag.post_count }})&nbsp;</a>
                                {% endfor %}
                                </p>
                            </div>                            
                            <div class="block">
                                 <p style="border-bottom: solid #ddd 1px; padding-bottom: 10px; text-align:center;">
                                    <!-- FEED自动发现标记开始 -->
                                    <!-- FEED自动发现标记结束 -->
                                    <b>订阅</b>
                                </p>
                                <p class="subscribe">
                                    <a class="subscribe icon" href="/feeds/latest/">最近文章</a>
                                </p>
                                <p class="subscribe">
                                    <a class="subscribe icon" href="/feeds/hottest/">最热文章</a>
                                </p>                                 
                            </div>
                            <div class="block" id="share_block">
                                <p style="border-bottom: solid #ddd 1px; padding-bottom: 10px; text-align:center;">
                                    <b>分享</b>
                                </p>
                                <script type="text/javascript" src="http://friendfeed.com/embed/widget/lvbeck?v=2&amp;hide_logo=1&amp;hide_subscribe=1"></script>                            
                            </div>                                  
                            <div class="block" id="archive_block">
                                <p style="border-bottom: solid #ddd 1px; padding-bottom: 10px; text-align:center;">
                                    <b>存档</b>
                                </p>
                                <ul class="archive">
                                {% for archive in request.archive %}
                                    <li class="archive">
                                        <a class="archive" href="/archives/{{ archive.year }}/{{ archive.month }}">{{ archive.year }}年{{ archive.month }}月</a>
                                    </li>
                                {% endfor %}
                                </ul>                            
                            </div>                                        
                        </div>
                    </div>
                    <div id="col3">
                        <div id="col3_content" class="clearfix">
                            {% block navigator %}{% endblock %}
                            {% block content %}{% endblock %}
                        </div>
                        <!-- IE Column Clearing -->
                        <div id="ie_clearing"> &#160; </div>
                    </div>
                </div>
                <!-- begin: #footer -->
                <div id="footer">
                      <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                          <tr>
                              <td align="center" style="font-size:12;">
                                  <strong>NiuBi.de</strong> <a class="sa icon" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">署名-相同方式共享</a> | <a class="sitemap icon" href="/sitemap/">本站地图</a> | 样式框架 <a class="world_link icon" href="http://www.yaml.de/">YAML</a>
                              </td>
							  <!--
                              <td align="right" width="1" style="padding-bottom: 2px; padding-right: 7px;">
                                  <a href="http://forum.niubi.de/"><img src="/static/images/logos/logo.gif" border="0" alt="Powered by NiuBi.de"/></a>
                              </td>
							  -->
                              <td align="right" width="1" style="padding-bottom: 3px; padding-right: 7px;">
                                  <a href="http://www.python.org/"><img src="/static/images/logos/python-powered-w-70x28.png" border="0" alt="Powered by Python." title="Powered by Python."/></a>
                              </td>
                              <td align="right" width="100" style="padding-bottom: -2px; padding-right: 5px;">
                                  <a href="http://www.djangoproject.com/"><img src="/static/images/logos/djangojoint107x25_grey.gif" border="0" alt="A Django Project." title="A Django Project."/></a>
                              </td>                        
                              <td align="right" width="120" style="padding-bottom: 3px; padding-right: 0px;">
                                  <a href="http://code.google.com/appengine/"><img src="/static/images/logos/appengine-noborder-120x30.gif" border="0" alt="Powered by Google App Engine"/></a>
                              </td>
                          </tr>
                      </table>
                </div>
            </div>
            <div id="border-bottom">
                <div id="edge-bl"></div>
                <div id="edge-br"></div>
            </div>
        </div>
        <!--                
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            var pageTracker = _gat._getTracker("UA-4751909-2");
            pageTracker._initData();
            pageTracker._trackPageview();
        </script>
        -->
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">google.load("jquery", "1.2.6");</script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        {% block js %}{% endblock %} 
    </body>
</html>
