@charset "UTF-8";
@media all
{
  #nav_main {
    background: #c0c0c0 url("../../images/glossy/orange/nav.png") repeat center right;
  }

  #nav_main ul {
    border-left: 1px #FDB24C solid;
    border-right: 1px #fff solid;
  }

  #nav_main ul li {
    border-left: 1px #fff solid;
    border-right: 1px #FDB24C solid;
  }

  #nav_main ul li a,
  #nav_main ul li strong {
    color: #fff;
  }

  #nav_main ul li:hover  {
	background: url("../../images/glossy/orange/nav_hover.png") repeat center right;
  }

  #nav_main ul li#current {
    /* (en) Repeat the main color from the image */
    /* (de) Wiederholung der Hauptfarbe aus der Bilddatei */
    background: #FDB24C;
  }

  button, input[type="button"], input[type="submit"]{ 
    background-image:url("../../images/glossy/orange/button.png");
    color: #fff;
  }

  button:hover, input[type="button"]:hover, input[type="submit"]:hover { 
    background-image:url("../../images/glossy/orange/button_hover.png");
  }
}