body {
    font-family: Tahoma, "Lucida Grande", Arial, Verdana, sans-serif;
    background:url(../images/bg/metal2.png);
    padding: 0px;
    margin: 0px;
    min-height: 380px;
}

li {
    margin-bottom: 5px;
}

blockquote{
    font-style:italic;
    background-color: #FAFAFA;
    border: 1px solid #BBBBBB;
    padding: 0px 10px;
}

pre{
    background-color: #FAFAFA;
    border: 1px solid #BBBBBB;
    padding: 0px 10px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.post_header {
    padding-top: 20px;
    height: 30px;
}

.post_footer {
    border-top: gray solid 2px;       
    margin-bottom: 30px;
}

.action {
    text-align: right;
    position:relative;
    top:-12px;    
}

.comment {
    padding: 0px;
    border-style: solid;
    border-width: 2px;
    margin-right: 30px;
    margin: 5px;
    border-color: gray;
    background-image:url(../images/bg/metal4.png);
}

.comment_header {
    padding-top: 20px;
    height: 15px;
}

.subtitle {
    position: relative;
    top: -18px;
    text-align: right;
}

.text_box {
    background-image:url(../images/bg/metal4.png);
    color:black;
    border:gray solid 1px;
    padding: 10px;
}

.small_font {
    font-size: 11px;
}

.title > a{
	font-size: 1.5em;
    font-weight: bold;
	font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
    padding-top: 15px;   
}

span.icon, a.icon {
	background: transparent url(../images/icons/16x16/link.png) no-repeat scroll left center;
    padding-left: 20px;   
}

a.link {
	background: transparent url(../images/icons/16x16/link.png) no-repeat scroll left center;
}

a.world_link {
	background: transparent url(../images/icons/16x16/world_link.png) no-repeat scroll left center;
}

a.edit {
    background: transparent url(../images/icons/16x16/pencil.png) no-repeat scroll left center;
}

a.comment {
    background: transparent url(../images/icons/16x16/comments.png) no-repeat scroll left center;
    border-style: none;
    border-width: 0;
	padding-bottom:2px;
}

a.read {
    background: transparent url(../images/icons/16x16/page_white_magnify.png) no-repeat scroll left center;
    padding-bottom:2px;
}

a.delete {
    background: transparent url(../images/icons/16x16/delete.png) no-repeat scroll left center; 
}

a.reply {
    background: transparent url(../images/icons/16x16/comment.png) no-repeat scroll left center;
}

a.account {
    background: transparent url(../images/icons/16x16/user_m.png) no-repeat scroll left center;
    padding-bottom:1px;
}

a.post_add {
    background: transparent url(../images/icons/16x16/page_add.png) no-repeat scroll left center;
}

a.category_add {
    background: transparent url(../images/icons/16x16/folder_add.png) no-repeat scroll left center;
}

a.login {
    background: transparent url(../images/icons/16x16/key.png) no-repeat scroll left center;
}

a.logout {
    background: transparent url(../images/icons/16x16/key_go.png) no-repeat scroll left center;
}

a.contact {
    background: transparent url(../images/icons/16x16/email.png) no-repeat scroll left center;
}

a.subscribe{
    background: transparent url(../images/icons/16x16/feed.png) no-repeat scroll left center;
    padding-top:2px;
    padding-bottom:2px;
}

span.tag {
    background: transparent url(../images/icons/16x16/tag_blue.png) no-repeat scroll left center;
	padding-bottom:2px;
}

span.category {
    background: transparent url(../images/icons/16x16/folder.png) no-repeat scroll left center;
}

ul.category{
    text-align:left;
}

input[type=text]{
    height:18px;
    width:100%; 
}

input[type=text]:hover{
    background-color: #FFFADB;
}

input[type=textarea]{
    width:100%;
}

#header #toplogo a{
    position:absolute;
    top: 5px;
    left: 5px;
    font-family:inherit;
    font-size:32px;
    color:white;
}

#footer {
    border-top: lightgray solid 1px;   
}

#footer a.sitemap{
    background: transparent url(../images/icons/16x16/chart_organisation.png) no-repeat scroll left center;
}

#footer a.sa{
    background: transparent url(../images/icons/16x16/sa.png) no-repeat scroll left center;
	padding-bottom:2px;
}

#footer a.world_link{
    background: transparent url(../images/icons/16x16/world_link.png) no-repeat scroll left center;
    padding-top:2px;
    padding-bottom:2px;
}

#nav_main li {
    width: 80px;
    text-align: center;
}

#page_margins{
    background-color:gray;
    background-image:url(../images/bg/metal2.png);
}

#header{
    background-image:url(../images/bg/metal2.png);
}

#topnav a{
    color:white;
}

#main {
    margin: 0 0;
    background: #fff;
    background-image:url(../images/bg/metal6.png);
}

#search_block {
    padding-top: 20px;
    padding-left: 5px;
    text-align: center;
}

#q {
    background-color: #999999;
    width: 43%;
}