{% load navigate %}
{% load widgets %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head profile="http://gmpg.org/xfn/11">
        <title>牛逼 - {% block title %}{% endblock %}</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="verify-v1" content="NneIN/MP9K2CgqHooCi8O0nahMrMU44LnP3Y+s7hB2Y=" />
        {% block meta %}{% endblock %}
        <link rel="alternate" type="application/rss+xml" title="最新文章" href="/feeds/latest/" />
        <link rel="alternate" type="application/rss+xml" title="FeedBurner" href="http://feeds.feedburner.com/niubi" />
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="/static/images/animated_favicon.gif" type="image/gif" />
        <!--<link rel="stylesheet" type="text/css" href="/static/css/main.css" />-->
	<link rel="stylesheet" type="text/css" href="/static/css/core/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/navigation/nav_shinybuttons.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/screen/basemod_shinybuttons.css" />	
        <link rel="stylesheet" type="text/css" href="/static/css/screen/content.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/screen/shinybuttons/lime.css" title="Lime" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/black.css" title="Black" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/silver.css" title="Silver" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/blue.css" title="Blue" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/orange.css" title="Orange" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/red.css" title="Red" />
	<link rel="alternate stylesheet" type="text/css" href="/static/css/screen/shinybuttons/purple.css" title="Purple" />
        <link rel="stylesheet" type="text/css" href="/static/css/screen/jquery-ui-themeroller.css" />
        <!--[if lte IE 7]>
        <link rel="stylesheet" type="text/css" href="/static/css/patches/patch_my_layout.css" />       
        <![endif]-->
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/dp.SyntaxHighlighter.css" /> -->
	<link rel="stylesheet" type="text/css" href="http://alexgorbatchev.com/pub/sh/current/styles/shCore.css" />
	<link rel="stylesheet" type="text/css" href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" />
        <link rel="stylesheet" type="text/css" href="http://www.google.com/uds/css/gsearch.css" />
        {% block css %}{% endblock %}       
    </head>
    <body class="yui-skin-sam">
        <div id="page_margins">
            <div id="border-top">
                <div id="edge-tl"></div>
                <div id="edge-tr"></div>
            </div>
            <div id="page">
                <div id="header">
                    <div id="logo">
                        <a href="/">
                            <b>NiuBi.de</b>
                        <!--<img src="/static/images/logos/logo_blog.gif" style="padding-left:10px; border: solid 0px;"/>-->
                        </a>
                    </div>
                    <div id="topnav">
                        <!-- start: skip link navigation -->
                        <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a><span class="hideme">.</span>
                        <a class="skip" title="skip link" href="#content">Skip to the content</a><span class="hideme">.</span>
                        {% navigator %}
                        <a class="contact icon" href="mailto:admin@niubi.de">联系</a>
                        <!-- end: skip link navigation -->                       
                    </div>
                    <div id="teaser">"NB是一种习惯，更是一种境界"</div>
                </div>
                <div id="nav">
                    <!-- skiplink anchor: navigation -->
                    <a id="navigation" name="navigation"></a>
                    <div id="nav_main">
                    <!-- main navigation: #nav_main -->
                        <ul id="nav_ul">
                          <li onclick="setCurrent(this)" class="current"><a href="/">首页</a></li>
                          <li onclick="setCurrent(this)"><a href="#">日志</a></li>
                          <li onclick="setCurrent(this)"><a href="#">影像</a></li>
                          <li onclick="setCurrent(this);setContent('col3_content','/download/');"><a href="#">下载</a></li>
                          <li onclick="setCurrent(this);setContent('col3_content','/about/');"><a href="#">关于</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div id="teaser">
                    NB是一种习惯，更是一种境界
                </div>-->
                <div id="main">
                    <div id="col1">
                        <div id="col1_content" class="clearfix">
                            <div id="switches" class="box">
                                <ul>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Black'); return false;" title="Black"><img src="/static/images/icons/22x21/black.jpg" alt="Black" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Silver'); return false;" title="Silver"><img src="/static/images/icons/22x21/silver.jpg" alt="Silver" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Lime'); return false;" title="Lime" class="current"><img src="/static/images/icons/22x21/lime.bmp" alt="Lime" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Orange'); return false;" title="Orange"><img src="/static/images/icons/22x21/orange.jpg" alt="Orange" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Blue'); return false;" title="Blue"><img src="/static/images/icons/22x21/blue.jpg" alt="Blue" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Red'); return false;" title="Red"><img src="/static/images/icons/22x21/red.jpg" alt="Red" /></li>
                                    <li onclick="setCurrent(this); setActiveStyleSheet('Purple'); return false;" title="Purple"><img src="/static/images/icons/22x21/purple.bmp" alt="Purple" /></li>
                                </ul>
                            </div>
                            <!-- SiteSearch Local -->
                            <div id="searchbox" class="box">                              
                                <form name="search" method="get" action="/search/">
                                    <input type="text" name="q" id="q" maxlength="255" value="搜索关键字" onfocus="$('#q').val('')" />
                                    <input type="submit" name="btnL" id="btnL" value="本地" />
                                    <!--<input type="hidden" name="ie" value="utf-8" />
                                    <input type="hidden" name="oe" value="utf-8" />
                                    <input type="hidden" name="hl" value="zh-CN" />
                                    <input type="submit" name="btnG" id="btnG" value="Google" onclick="search.action='http://www.google.com/search';" />
                                    <input type="hidden" name="domains" value="niubi.de" />
                                    <input type="hidden" name="sitesearch" value="niubi.de" />-->
                                </form>                                
                            </div>
                            <!-- SiteSearch Local -->
                            <div id="ui-datepicker" class="clearfix block"></div>
                            {% widgets %}
                            <!-- SiteSearch Google -->
                            <div id="searchcontrol"></div>
                            <!-- SiteSearch Google -->
							<div id="friendconnect">
								<!-- Include the Google Friend Connect javascript library. -->
								<script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>

								<!-- Define the div tag where the gadget will be inserted. -->
								<div id="div-1228250148426" style="width:220px;border:1px solid #cccccc;"></div>
								<!-- Render the gadget into a div. -->
								<script type="text/javascript">
								var skin = {};
								skin['HEIGHT'] = '385';
								skin['BORDER_COLOR'] = '#cccccc';
								skin['ENDCAP_BG_COLOR'] = '#e0ecff';
								skin['ENDCAP_TEXT_COLOR'] = '#333333';
								skin['ENDCAP_LINK_COLOR'] = '#0000cc';
								skin['ALTERNATE_BG_COLOR'] = '#ffffff';
								skin['CONTENT_BG_COLOR'] = '#ffffff';
								skin['CONTENT_LINK_COLOR'] = '#0000cc';
								skin['CONTENT_TEXT_COLOR'] = '#333333';
								skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
								skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
								skin['CONTENT_HEADLINE_COLOR'] = '#333333';
								google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
								google.friendconnect.container.renderMembersGadget(
								 { id: 'div-1228250148426',
								   site: '03236037059429266455'},
								  skin);
								</script>
							</div>                             
                        </div>
                    </div>
                    <div id="col3">
                        <div id="col3_content" class="clearfix">
                            {% block navigator %}{% endblock %}                           
                            {% block content %}{% endblock %}
                        </div>   
                        <!-- IE Column Clearing -->
                        <div id="ie_clearing"> &#160; </div>
                    </div>
                </div>
                <!-- begin: #footer -->
                <div id="footer">
                      <table border="0" cellspacing="0" cellpadding="0" style="width:100%;">
                          <tr>
                              <td align="center" style="font-size:12;">
                                  <strong>NiuBi.de</strong> <a class="sa icon" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">署名-相同方式共享</a> | <a class="sitemap icon" href="/sitemap/">本站地图</a> | 样式框架 <a class="world_link icon" href="http://www.yaml.de/">YAML</a>
                              </td>
							  <!--
                              <td align="right" width="1" style="padding-bottom: 2px; padding-right: 7px;">
                                  <a href="http://forum.niubi.de/"><img src="/static/images/logos/logo.gif" border="0" alt="Powered by NiuBi.de"/></a>
                              </td>
							  -->
                              <td align="right" width="1" style="padding-bottom: 3px; padding-right: 7px;">
                                  <a href="http://www.python.org/"><img src="/static/images/logos/python-powered-w-70x28.png" border="0" alt="Powered by Python." title="Powered by Python."/></a>
                              </td>
                              <td align="right" width="100" style="padding-bottom: -2px; padding-right: 5px;">
                                  <a href="http://www.djangoproject.com/"><img src="/static/images/logos/djangojoint107x25_grey.gif" border="0" alt="A Django Project." title="A Django Project."/></a>
                              </td>                        
                              <td align="right" width="120" style="padding-bottom: 3px; padding-right: 0px;">
                                  <a href="http://code.google.com/appengine/"><img src="/static/images/logos/appengine-noborder-120x30.gif" border="0" alt="Powered by Google App Engine"/></a>
                              </td>
                          </tr>
                      </table>
                </div>
            </div>
            <div id="border-bottom">
                <div id="edge-bl"></div>
                <div id="edge-br"></div>
            </div>
        </div>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-10256201-1");
        pageTracker._trackPageview();
        } catch(err) {}
        </script>
        <script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAIIgNazUFk3Vxj8WMSlL4ZxTYqWUNZ0C3G850mTR_MqLmNuL_yRSXv09UTXrOeRNuQL30lwjzrn4S8A"></script>
        <script type="text/javascript">google.load("search", "1");</script>
        <script type="text/javascript">google.load("jquery", "1.4.0");</script>
        <script type="text/javascript">google.load("jqueryui", "1.5.3");</script>
        <script type="text/javascript" src="/static/js/main.js"></script>
        <!-- <script type="text/javascript" src="/static/js/dp.SyntaxHighlighter.js"></script> -->
	<script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js"></script>
	<script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shLegacy.js"></script>
	<script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushCss.js"></script>
	<script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js"></script>
	<script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPhp.js"></script>
	<script type="text/javascript" src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPython.js"></script>
        <script type="text/javascript">
	    jQuery(document).ready(function () {
		jQuery("textarea > br").each( function() { jQuery(this).replaceWith( "\n" ); } );
		SyntaxHighlighter.config.bloggerMode = true;
		SyntaxHighlighter.config.clipboardSwf = "http://alexgorbatchev.com/pub/sh/current/scripts/clipboard.swf";
		SyntaxHighlighter.all();
		dp.SyntaxHighlighter.HighlightAll("code");		
	    });
        </script>        
        {% block js %}{% endblock %} 
    </body>
</html>
