@charset "UTF-8";
@media screen, projection
{
  #header, #page_margins { background: url("../../../images/bg/metal2.png"); } 
  #nav { background: #c0c0c0 url("../../../images/glossy/silver/nav.gif") repeat-x center right; }
  #main { background:transparent url("../../../images/bg/metal6.png") }

  #nav_main ul li { border-right: 1px #aaa solid; }

  #nav_main ul li:hover  {
    background: url("../../../images/bg/metal6.png") repeat center right;
  }

  #nav_main ul li.current {
    background: url("../../../images/bg/metal6.png") repeat-x center right;
    border-left: 0px #444 solid;
    border-right: 1px #888 solid;
  }

  #nav_main ul li.current strong,
  #nav_main ul li.current a,
  #nav_main ul li.current a:focus,
  #nav_main ul li.current a:hover,
  #nav_main ul li.current a:active { background: transparent; color: #333; text-decoration: none; }

  button, input[type="button"], input[type="submit"]{ 
    background-image:url("../../../images/glossy/silver/button.png");
  }

  button:hover, input[type="button"]:hover, input[type="submit"]:hover { 
    background-image:url("../../../images/glossy/silver/button_hover.png");
  }
}